@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
}

header {
    width: 411px;
    height: 60px;
    left: 0px;
    top: 24px;
    background: #e0e0e0;
}

img {
    position: absolute;
    width: 30px;
    height: 27.6px;
    top: 15px;
    left: 22px;
}

h1 {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    left: calc(50% - 411px/2);
    top: calc(50% - 43px/2 + 0.5px);
}

.nav {
    text-align: right;
}

form {
    width: 371px;
    height: 290px;
    top: 110px;
    left: 20px;
}

select {
    height: 32px;
    width: 371px;
    left: 0%;
    right: 0%;
    top: 25px;
    border: 1px solid #979797;
    box-sizing: border-box;
    border-radius: 4px;
}

.nv {
    height: 32px;
    width: 371px;
    left: 0px;
    right: 0px;
    top: 24px;
    border: 1px solid #979797;
    box-sizing: border-box;
    border-radius: 4px;
}

.botao {
    width: 371px;
    height: 32px;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    font-style: normal;
    font-size: 14px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: black;
    color: white;
}]

table {
border-collapse: collapse;
}

td, th {
    border-bottom: 1px solid #979797;
}