@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: gainsboro;
}

h1 {
    text-align: center;
    padding: 5px;
}

nav {
    text-align: right;
}

.nav {
    padding: 3px;
    margin: 5px;
    background-color: white;
    border-radius: 5px;
}

button.nav > a {
    color: black;
    text-decoration: none;
}

button.nav > a:hover {
    color: goldenrod;
}

.formulario {
    border: 1px solid black;
    border-radius: 5px;
    width: 20vw;
    height: 35vh;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    margin-top: 20px;
}

form {
    margin-left: 40px;
    width: 30vw;
    height: 30vh;
}

h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

input {
    margin: 5px;
    width: 200px;
}

select {
    margin: 5px;
    width: 200px;
}

table {
    width: 40vw;
    border-collapse: collapse;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

th, td {
    border: 1px solid black;
    padding: 5px;
}

.num {
    text-align: right;
}