@charset "UTF-8";

.fomulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fomulario div {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.fomulario .big-label {
    width: 50%;
    display: inline-block;
    text-align: right;
}

.fomulario .linha-formulario {
    margin-bottom: 15px;
}